{% extends 'shared/base.html' %}
{% block content %}
{% load static %}


<!-- The Main Content for the Delete Event section -->
<section id="delete-page">
    <div class="form">
        <!-- Title of the Page -->
        <h2>Delete Event</h2>

        <!-- Delete Event Form -->
        <form id="delete" method="post" action="{% url 'event delete' event.pk %}">
                {{ form }}
            <!-- Delete Button -->
            <input class="btn" type="submit" value="Delete">
                {% csrf_token %}
        </form>
        <!-- End Delete Event Form -->
    </div>
</section>
<!-- End Delete Event section -->

{% endblock %}
