{% extends 'shared/base.html' %}
{% block content %}
{% load static %}

<!-- The Main Content for the Edit Profile section -->
<section id="edit">
    <div class="form">
        <!-- Title of the Page -->
        <h2>Edit Profile</h2>

        <!-- Edit Profile Form -->
        <form class="edit-form" method="post" action="{% url 'profile edit' %}">
                {{ form }}
            <!-- Edit Button -->
            <input class="btn submit" type="submit" value="Edit">
                {% csrf_token %}
        </form>
        <!-- End Edit Profile Form -->
    </div>
</section>
<!-- End Edit Profile section -->

{% endblock %}
