{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- profile details section -->
    <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="car-header">

                <!-- default profile image -->
                {% if not profile.profile_picture %}
                    <img class="car-img" src="{%  static 'images/default.jpg' %}" alt='profile-image'/>
                    <h1>{{ first_name}} {{ last_name }}</h1>
                {% else %}
                    <img class="car-img" src="{{ profile.profile_picture }}" alt='profile-image'/>
                {% endif %}
                    <!-- user full name -->

                <h1>{{ plants.full_name }}</h1>

                <!-- user username -->
                <p class="description">Username: {{ profile.username }}</p>
                <!-- total number of cars -->
                {% if plants %}
                    <p class="description">Total stars:</p>
                    {% for star in plants %}
                        <img class="star-img" src="{% static 'images/star3.png' %}" alt='star'/>
                    {% endfor %}
                {% else%}
                    <p class="description">Total stars: 0</p>
                {% endif %}

                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'profile-edit' %}" class="edit-button">Edit</a>
                    <a href="{% url 'profile-delete' %}" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}